.header {
  background-color: #000000;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header__second ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header .container .header__second ul li {
  list-style: none;
  padding: 3px 10px !important;
}
.header .container .header__second ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #F7F7F7;
  font-weight: 300;
  font-size: 16px;
}
.header .container .header__second ul li .header__search {
  font-weight: 300;
  font-size: 30px;
  color: #FFFFFF;
}