.changePassword {

    .container {

        form {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            @media only screen and (max-width: 576px) {
                width: 100%;
            }    

            .form-group {
                margin-bottom: 20px;
                p {
                    text-align: left;

                }
            }
        }
    }
}