$text-c1-color: #FFFFFF;
$text-c2-color: #000000;
$text-c3-color: #CBC9C9;
$text-c4-color: #F7F7F7;
$text-c5-color: #140101;
$text-c6-color: #1ED90E;
$text-c7-color: #1E1D1D;
$text-c8-color: #FC0303;
$text-c9-color: #FFFCFC;
$text-c10-color: #FFF8F8;
$text-c11-color: rgba(0, 0, 0, 0.6);
$text-c12-color: #F50E0E;
$text-c13-color: rgba(21, 42, 235, 0.8);
$text-c13-color: #FFFEFE;
$text-c13-color: #DD2AED;
$text-c14-color: rgba(0, 0, 0, 0.6);
$text-c15-color: rgba(0, 0, 0, 0.87);
$text-c16-color: #7D0DB1;



$bg-c1-color: #000000;
$bg-c2-color: linear-gradient(180deg, #F21299 0%, #1B02B5 100%);
$bg-c3-color: #F8F8F8;
$bg-c4-color: #9DE167;
$bg-c5-color: #DEDDDC;
$bg-c6-color: #D9D9D9;
$bg-c7-color: #FFFFFF;
$bg-c8-color: #F8B653;
$bg-c9-color: #F8F8F8;
$bg-c10-color: #F5F5F5;
$bg-c11-color: #1877F2;
$bg-c12-color: #6200EE;
$bg-c13-color: #F2994A;

@mixin btn-carousel {
    font-weight: 300;
    font-size: 20px;
    color: $text-c1-color;
    background-color: $bg-c8-color;
    padding: 13px 35px;
    border: none;
}

@mixin bgimage {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin btnamount {
    background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
    font-weight: 400;
    font-size: 30px;
    color: $text-c9-color;
    padding: 0 15px;
    border: none;
}


@mixin addtocartDetail {
    background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
    font-weight: 500;
    font-size: 24px;
    color: $text-c10-color;
    border: none;
    padding: 14px 24px;
}


@mixin btnSubmitRegister {
    background: #6200EE;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    letter-spacing: 1.25px;
    font-weight: 500;
    font-size: 14px;
    color: $text-c1-color;
    border: none;
}


@mixin btnFacebook {
    font-weight: 400;
    font-size: 20px;
    color: $text-c1-color;
    background-color: $bg-c11-color;
    box-shadow: 0px 38.4869px 71.4756px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
}


